JWT_SECRET = "your-jwt-secret"
MONGODB_URI="your-mongodb-uri"

ADMIN_EMAIL= "admin@example.com"

INNGEST_EVENT_KEY="your-inngest-event-key"

INNGEST_SIGING_KEY="your-inngest-signing-key"


SMTP_USER="your-smtp-user"
SMTP_PASS="your-smtp-password"
SENDER_EMAIL="your-sender-email"
